@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --primary-color: #00f5bc;
    --secondary-color: #027b5f;

    --color-light: #cecece;
    --color-dark: #464646;

    --container-width: 45%;

    --transition: all 300ms ease;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
    color: var(--color-dark);
}

.App {
    width: var(--container-width);
    margin: 0 auto;
}

header {
    margin-top: 10%;
    font-size: 1.5rem;
    text-align: center;
}
